<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Orleans" publicKeyToken="070f47935e3ed133" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.8" newVersion="1.0.9.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>