<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StartOutOfProcess" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="false"/>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Orleans" publicKeyToken="070f47935e3ed133" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.1" newVersion="1.0.10.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OrleansProviders" publicKeyToken="070f47935e3ed133" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.13" newVersion="1.0.9.13"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OrleansRuntime" publicKeyToken="070f47935e3ed133" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.1" newVersion="1.0.10.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
